*{
    font-family: 'Poppins';
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
}
.center{
    width: 600px;
    height: 700px;
    border: 1px solid rgba(81, 78, 244, 0.734);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(61, 226, 204);
}
.box{
    width: 500px;
    height: 250px;
    margin-top: -50px;
    /* border: 1px solid black; */
    border-radius: 250px 250px 0 0;
    /* border-bottom: none; */
    display: flex;
    justify-content: center;
    align-items: end;
    background-color: rgba(131, 114, 255, 0.734);
    border-bottom: calc(500px - 250px)
}
.box1{
    width: 250px;
    height: 125px;
    /* border: 1px solid black; */
    border-radius: 125px 125px 0 0;
    border-bottom: none;
    background-color: rgb(61, 226, 204);
}
.container{
    width: 500px;
    height: 272px;
    border-top: 1px solid rgba(81, 78, 244, 0.734);
    /* border-bottom: 1px solid rgba(81, 78, 244, 0.734); */
    margin-top: 50px;
}
.classification{
    color: rgba(81, 78, 244, 0.734);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(81, 78, 244, 0.734);
}
.about{
    color: rgba(81, 78, 244, 0.734);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.6px;
    /* margin: 23px 23px 23px 25px; */
}